@media (min-width: 768px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    --bs-gutter-x: 4rem;
  }
}

code {
  font-size: 18px !important;
}

.code-toolbar .toolbar {
  display: flex;
  gap: 8px;
}
