@media (min-width: 768px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    --bs-gutter-x: 4rem;
  }
}

code {
  font-size: 18px !important;
}

.code-toolbar .toolbar {
  display: flex;
  gap: 8px;
}

.pagination {
  --bs-pagination-active-bg: var(--bs-gray-600);
  --bs-pagination-active-border-color: var(--bs-gray-600);
}

.content h2::after {
  content: '';
  display: block;
  height: 1px;
  margin-top: 6px;
  margin-bottom: 18px;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

.content img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 1.5rem 0;
}