<div class="d-flex flex-wrap gap-3">
  <% site.categories.each(function(category) { %>
  <a
    href="<%= category.permalink %>"
    class="btn btn-secondary"
  >
    <i class="bi bi-folder-fill"></i>
    <%= category.name %>
    <span class="badge text-bg-danger ms-1">
      <%= category.length %>
    </span>
  </a>
  <% }) %>
</div>