<h1>
  <i class="bi bi-tag-fill icon-32"></i>
  <%= page.tag %>
</h1>

<% page.posts.sort('date', 'desc').forEach(post => { %>
  <%- partial('partials/postCard', { post }) %>
<% }) %>

<%- partial('partials/pagination') %>