<div class="d-flex flex-wrap gap-3">
  <% site.tags.each(function(tag) { %>
  <a
    href="<%= url_for(tag.path) %>"
    class="btn btn-secondary"
  >
    <i class="bi bi-tag-fill icon-20"></i>
    <%= tag.name %>
    <span class="badge text-bg-danger ms-1">
      <%= tag.posts.length %>
    </span>
  </a>
  <% }) %>
</div>