@import './partials/postCard.css';
@import './partials/base/goTopBtn.css';
@import './partials/base/footer.css';

@media (min-width: 768px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    --bs-gutter-x: 4rem;
  }
}

code {
  font-size: 18px !important;
}

.code-toolbar .toolbar {
  display: flex;
  gap: 8px;
}

a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 .25rem var(--bs-gray-400);
  border-radius: var(--bs-border-radius-sm);
}

.pagination {
  --bs-pagination-active-bg: var(--bs-gray-600);
  --bs-pagination-active-border-color: var(--bs-gray-600);
}

.form-control:focus {
  border-color: #86b7fe;
  border-color: var(--bs-gray-400);
  box-shadow: 0 0 0 .25rem var(--bs-gray-400);
}

.navbar-toggler:focus,
.nav-link:focus-visible {
  box-shadow: 0 0 0 .25rem var(--bs-gray-400);
}

.btn-sm {
  --bs-btn-padding-y: 0.1rem;
  --bs-btn-padding-x: 0.4rem;
  --bs-btn-font-size: 0.75rem;
}

.btn:focus-visible {
  --bs-btn-focus-box-shadow: 0 0 0 .25rem var(--bs-gray-400);
}

.list-group-flush .list-group-item:first-child {
  border-top-left-radius: var(--bs-list-group-border-radius);
  border-top-right-radius: var(--bs-list-group-border-radius);
}

.list-group-flush .list-group-item:last-child {
  border-bottom-right-radius: var(--bs-list-group-border-radius);
  border-bottom-left-radius: var(--bs-list-group-border-radius);
}

.post {
  max-width: 880px;
  margin: 0 auto;
  letter-spacing: 0.025em;
}

.post .content h2 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.post .content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.post .content ul {
  line-height: 1.75;
}

.post .content h2::after {
  content: '';
  display: block;
  height: 1px;
  margin-top: 6px;
  margin-bottom: 18px;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

.post .content img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 1.5rem 0;
}

/* utils */

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.icon-15 {
  font-size: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.icon-20 {
  font-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon-32 {
  font-size: 32px;
  display: inline-block;
  width: 32px;
  height: 32px;
}