<button
  id="searchBtn"
  class="searchBtn btn"
  style="border: none"
  data-bs-toggle="modal"
  data-bs-target="#searchModal"
  aria-label="search"
>
  <i class="bi bi-search icon-20"></i>
</button>
