<div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="position-relative mb-2">
          <input id="searchInput" class="form-control" type="search" style="padding-left: 2.25rem;"/>
          <span class="position-absolute top-50 translate-middle-y search-icon" style="left: 0.75rem;">
            <i class="bi bi-search"></i>
          </span>
        </div>
        <ul id="searchResults" class="list-group list-group-flush"></ul>
      </div>
    </div>
  </div>
</div>

<div 
  id="postTitles" 
  data-post-titles="<%= JSON.stringify(site.posts.map(post => ({title: post.title, link: post.permalink}))) %>"
></div>
