<footer class="footer border-top text-center py-3">
  <div class="container-lg text-body-secondary">
    <%= theme.footer_content %>
  </div>
</footer>

<style>
  .footer {
    font-size: 14px;
    background-color: var(--bs-tertiary-bg);
    border-color: var(--bs-border-color-translucent);
  }
</style>