<button id="toggleThemeBtn" class="toggleThemeBtn btn" style="border: none;">
  <span class="icon-20">
    <i id="sunIcon" class="bi bi-sun-fill icon-20 d-none"></i>
    <i id="moonIcon" class="bi bi-moon-fill icon-20 d-none"></i>
  </span>
</button>