<div class="d-flex flex-wrap gap-2">
  <% tags.forEach(tag => { %>
  <a
    href="<%= tag.permalink %>"
    class="btn btn-secondary btn-sm"
    style="
      --bs-btn-padding-y: 0.1rem;
      --bs-btn-padding-x: 0.4rem;
      --bs-btn-font-size: 0.75rem;
    "
  >
    <i class="bi bi-tag-fill"></i>
    <%= tag.name %>
  </a>
  <% }) %>
</div>
